<main class="content" role="main">
	<article class="post tag-getting-started">
    <div align='center'>
    	<img class='post-top' src='images/useravatar.jpg'>
    </div>    
    <h1 class="post-title">{{title}}</h1>
    <div align='center'>
      <span class="post-meta">
      	Posted On <time datetime="2014-01-15">15 Jan 2014</time> by Marshall 
      </span>
    </div>
		<section class="post-content">
	    <p>{{body}}</p>
	  </section>    
	</article>
	<br/>
	<article class="post tag-getting-started">
	  <footer class="post-footer">      
	    <section class="author">
	      <h4>Marshall</h4>
	      <img src='images/useravatar.jpg' alt='authorimage'>
	      <p>Marshall has lived on four continents and traveled to more than 150 countries, graduated from Harvard, studied law at Oxford University as a Rhodes Scholar, and then studied Arabic in Cairo. In his free time also teaches at Yale University, and is a member of the American Academy of Arts and Sciences</p>
	  	</section>
	  </footer>
  </article>
  <br/>
	<article class="post tag-getting-started">
	<br/>
	<div id="disqus_thread"></div>
	 <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
</article>
</main>
<script type="text/javascript">
	var disqus_shortname = 'marshallz';
	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
	    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>	