<main>
	<div class="jumbotron">
		<h1 class="signature"> MARSHALLZ BLOG</h1>
	</div>
	<div class="container nine columns alpha" id="blog-entries"></div>
</main>

<script type="text/template" id="entry-template">
	<div class="row entry">
		<div class="seven columns alpha">
			<h2><%= title %></h2>
		</div>
		<div class="two columns omega">
			<img class="avatar" src="images/marshall_a.jpg">
		</div>
	</div>
	<div class="row">
		<div class="seven columns">
			<p><%= body %></p>
		</div>
	</div>
	<div class="row">
		<div class="three columns alpha">
			<ul>
				<li class="post"><button>&#9998;</button></li>
				<li class="post"><button>&#10008;</button></li>
			</ul>
		</div>
		<div class="two columns omega">
			<sub><%= updated %></sub> 
		</div>	
	</div>
</script>

<div class="three columns omega">
	<h5>Log-in</h5>
	<form>
		<input type="text" name="name" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" value="&#9728;">
	</form>
<div>