<main>
	<div class="jumbotron">
		<h1 class="signature"> MARSHALLZ BLOG</h1>
	</div>
	<div class="row twelve columns" id="blog-entries"></div>
</main>

<script type="text/template" id="entry-template">
	<div class="row entry">
		<div class="one column alpha">
			<img class="avatar" src="images/marshall_a.jpg">
		</div>
		<div class="five columns omega">
			<h2><%= title %></h2>
		</div>
	</div>
	<div class="row">
		<div class="seven columns">
			<p><%= body %></p>
		</div>
	</div>
	<div class="row">
		<div class="three columns alpha">
			<ul>
				<li class="post"><button>&#9998;</button></li>
				<li class="post"><button>&#10008;</button></li>
			</ul>
		</div>
		<div class="two columns omega">
			<sub><%= updated %></sub> 
		</div>	
	</div>
</script>