<main class="content" role="main">
	<ul id="blog-entries"></ul>
</main>

<script type="text/template" id="entry-template">
	<article class="post tag-getting-started">
		<img class='img-left' src='images/useravatar.jpg' alt='authorimage'>
		<br/>
	  <header class="post-header">
	    <h2 class="post-title"><a href="/latest"><%= title %></a></h2>
			<br/>
	    <div class="date-box">
		    <span class="date-outer">
		    	<span class="date-inner"><time datetime="2014-01-15">29 Jan 2015</time></span>
	   		</span>
	  	</div>
		</header>
		<section class="post-excerpt">
	  <br>
	  	<%= body %>
	  </section>
	  <span class="post-meta"> on Getting Started</span>
	</article>
	<br/>
</script>