<main>
	<div class="jumbotron">
		<h1 class="signature"> MARSHALLZ BLOG</h1>
	</div>
	<div class="col-xs-12 col-sm-8" >
		<ul id="blog-entries"></ul>
	</div>
	<div class="col-xs-12 col-sm-3 well well-large">
		<h3 align="right">Marshallz Corner</h3>
		<h4 align="right">Marshallz Corner</h4>
		<h5 align="right">Marshallz Corner</h5>
		<h6 align="right">Marshallz Corner</h6>
	</div>
</main>

<script type="text/template" id="entry-template">
<div class="row">
	<div class="col-xs-12 col-sm-12">
		<img class="post avatar" src="images/marshall_a.jpg">
		<h1 class="post entry-title"><%= title %></h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12">
		<p><%= body %></p>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
			<a class="post"><input class="btn btn-success btn-md" type="button" value="&#9998;" id="edit-submit"></a>
			<a class="post"><input class="btn btn-success btn-md" type="button" value="&#10008;" id="edit-submit"></a>
		</ul>
	</div>
	<div class="col-xs-1">
		<sub><%= updated %></sub> 
	</div>	
</div>
</script>