<main>
	<div class="jumbotron">
		<h1 class="signature"> MARSHALLZ BLOG</h1>
	</div>
	<div class="col-xs-12 col-sm-8" >
		<ul id="blog-entries"></ul>
	</div>
	<div class="col-xs-12 col-sm-3 well well-large">
		<h4>Marshallz Corner</h4>
	</div>
</main>

<script type="text/template" id="entry-template">
<div class="row">
	<div class="col-xs-3 col-sm-3">
		<img class="avatar" src="images/marshall_a.jpg">
	</div>
	<div class="col-xs-9 col-sm-9">
		<h2 class="entry-title"><%= title %></h2>
	</div>
</div>

<div class="row">
	<div class="col-xs-11 col-sm-11">
		<p><%= body %></p>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
			<a class="post"><input class="btn btn-success btn-md" type="button" value="&#9998;" id="edit-submit"></a>
			<a class="post"><input class="btn btn-success btn-md" type="button" value="&#10008;" id="edit-submit"></a>
		</ul>
	</div>
	<div class="col-xs-2">
		<sub><%= updated %></sub> 
	</div>	
</div>
</script>