
<main class="content" role="main">
	<ul id="blog-entries"></ul>
	<article class="post tag-getting-started">
	  
	  <footer class="post-footer">      
	    <section class="author">
	      <h4>Marshall</h4>
	      <img src='images/useravatar.jpg' alt='authorimage'>
	      <p>The views and opinions are not mine.</p>
	  	</section>
	  </footer>      
  </article>
  <br/>
</main>
	
<script type="text/template" id="entry-template">
  <article class="post tag-getting-started">
    <div align='center'>
    	<img class='post-top' src='images/useravatar.jpg'>
    </div>    
    <h1 class="post-title"><%= title %></h1>
    <div align='center'>
      <span class="post-meta">
      	Posted On <time datetime="2014-01-15">15 Jan 2014</time> by Marshall 
      </span>
    </div>
		<section class="post-content">
	    <p><%= body %></p>
	  </section>    
	</article>
	<br/>
</script>


