{{#section 'head'}}
	<link rel="alternate" type="application/rss+xml" title="Minimal Theme" href="/rss/">
	<link rel="canonical" href="http://minimalv2-ghost1235.rhcloud.com/welcome-to-ghost-2/" />
{{/section}}

<script type="text/template" id="entry-template">
<div class="row">
	<div class="col-xs-12 col-sm-12">
		<img class="post avatar" src="images/useravatar.jpg">
		<h1 class="post entry-title"><%= title %></h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12">
		<p><%= body %></p>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
			<a class="post"><input class="btn btn-success btn-md" type="button" value="&#9998;" id="edit-submit"></a>
			<a class="post"><input class="btn btn-success btn-md" type="button" value="&#10008;" id="edit-submit"></a>
		</ul>
	</div>
	<div class="col-xs-1">
		<sub><%= updated %></sub> 
	</div>	
</div>
</script>