<main>
	<div class="jumbotron">
		<h1 class="signature"> MARSHALLZ BLOG</h1>
	</div>
	<div class="col-xs-12" >
		<ul id="blog-entries"></ul>
	</div>
</main>

<script type="text/template" id="entry-template">
<div class="row" >
	<div class="col-xs-2">
		<img class="avatar" src="images/marshall_a.jpg">
	</div>
	<div class="col-xs-7">
		<h2><%= title %></h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-7">
		<p><%= body %></p>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<ul>
			<li class="post"><button>&#9998;</button></li>
			<li class="post"><button>&#10008;</button></li>
		</ul>
	</div>
	<div class="col-xs-2">
		<sub><%= updated %></sub> 
	</div>	
</div>
</script>