body {
	padding-top: 50px;
}

.avatar {
	max-width: 70px;
	border-radius: 10%;
	border: 1px solid red;
}


.entry {
	padding-bottom: 30px;
}

.signature {
	font-family: 'Monofett', cursive;
	text-align: center;
	margin-top: 0px;
}

li {
	list-style: none;
}

.post {
	display: inline-block;
}

p {
	text-align: justify;
}

.jumbotron {
	background-image: url('../images/bg.jpg');
}